# mac
.DS_Store

# eclipse
*.pydevproject
.classpath
.project
.metadata/
.settings/
*/bin/
tmp/
classes/
*.tmp
*.bak
*.swp
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# IDEA
*.iml
*.ipr
*.iws
.idea/

# gradle
.gradle/

# build
target/
build/
out/
*.class
*/.gitignore

# visual studio code
.vscode

# kotlintest
.kotlintest
